.page-footer__div-icon {
    .page-footer__div-icon-main-title {
        font-family: $mainFont;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: $secondaryTextColor;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .page-footer__list {
        display: flex;
        gap: 10px;
    }

    .page-footer__list-icon {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: $secondaryTextColor;
        background: rgba(255, 255, 255, 0.1);
        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: $acentColor;
        }
    }

    .page-footer__icon {
        fill: currentColor;
    }
}
