.page-footer__div-records {
    .page-footer__main-title {
        font-family: $mainFont;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: $secondaryTextColor;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .page-footer__form {
        display: flex;
    }

    .page-footer__form-email {
        border: 1px solid rgba(255, 255, 255, 0.3);
        width: 358px;
        height: 50px;
        padding-left: 16px;
        color: $contenerColor;
        background-color: $backgroundFooterColor;
        border-radius: 4px;
    }

    .page-footer__form-button {
        width: 200px;
        height: 50px;
        margin-left: 12px;
        background-color: $acentColor;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        .page-footer__form-button-title {
            font-weight: 700;
            font-size: 16px;
            color: $buttonsPortColor;
            position: absolute;
            margin-top: 15px;
            margin-left: 42px;
        }
    }
}
