@media screen and (max-width: 480px) {
    .section-four-icon__list {
        display: flex;
        flex-direction: column;

        .section-four-icon__list-item {
            margin-bottom: 30px;

            .section-four-icon__list-item-icon {
                height: 120px;
            }

            .section-four-icon__list-item-main-title {
                text-align: center;
            }
        }
    }
}
