@media screen and (max-width: 480px) {
    .page-footer__main-div {
        display: flex;
        flex-direction: column;

        .page-footer__logo-address-email-tel-mobile {
            margin-left: 115px;
            text-align: center;
        }

        .page-footer__logo-bottom {
            margin-left: 163px;
        }
    }

    .page-footer__list {
        margin-left: 137px;
    }

    .page-footer__div-icon > p {
        margin-left: 167px;
    }
}
