@media screen and (max-width: 767px) {
    .page-footer__div-records {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .page-footer__form {
            flex-direction: column;
            justify-content: center;

            .page-footer__form-email {
                width: 100%;
                height: 50px;
            }

            .page-footer__form-button {
                margin-top: 20px;
            }
        }
    }

    .page-footer__div-records > p {
        justify-content: center;
    }
}
