@media screen and (max-width: 480px) {
    .modal-window {
        .window-modal__form-textarea {
            width: 100%;
        }

        .modal-window__form-input-statute-title {
            font-family: $mainFont;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.1;
            padding-left: 8px;
        }
    }
}
