@media screen and (max-width: 480px) {
    .page-footer__main-div {
        display: flex;
        flex-direction: column;

        .page-footer__logo-address-email-tel-mobile {
            text-align: center;
        }
    }
}
