@media screen and (min-width: 480px) and (max-width: 767px) {
    .page-footer__div-records {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .page-footer__form {
            flex-direction: column;
            justify-content: center;

            .page-footer__form-email {
                width: 450px;
                height: 50px;
            }

            .page-footer__form-button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .page-footer__div-records > p {
        justify-content: center;
    }
}
