@media screen and (max-width: 480px) {
    .page-footer__main-div {
        display: flex;
        flex-direction: column;

        .page-footer__logo-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .page-footer__logo-address-email-tel-mobile {
            text-align: center;
        }
    }
}

@media screen and (max-width: 479px) {
    .page-footer__form-email {
        width: 100%;
        height: 50px;
    }
}
