@media screen and (max-width: 480px) {
    .section-our-team {
        .section-our-team__main-title {
            font-family: $mainFont;
            font-weight: 700;
            font-size: 28px;
            line-height: 1.1;
        }

        .section-our-team__list {
            display: flex;
            flex-direction: column;

            .section-our-team__list-item {
                width: 450px;
                height: 622px;

                & > img {
                    width: 450px;
                }
            }
        }
    }
}
