.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-property: opacity, visibility;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.modal {
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: $secondaryTextColor;
    position: absolute;
    transition-property: visibility, opacity, transform;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transform: translateX(-50%) translateY(-50%) scale(1);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.button-exit {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $secondaryTextColor;
}

.button-modal-icon-x {
    margin-top: 9px;
    margin-left: 9px;
}

.modal-title {
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    line-height: 1.1;
}
