.page-footer__main-div {
    display: flex;
    flex-direction: row;
    gap: 70px;

    .page-footer__logo-address-email-tel {
        width: 246px;
    }
}

.page-footer {
    background-color: $backgroundFooterColor;
    padding: 60px 0;
}

address {
    margin-top: 20px;
    margin-bottom: 9px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}
