.page-header {
    .page-header__section {
        display: flex;
        align-items: center;
    }

    border-bottom: 1px solid $lineColor;
}

@media screen and (min-width: 1200px) {
    .menu-container {
        display: none;
    }
}
