.section-our-team {
    background-color: $buttonsPortColor;
    padding: 94px 0;

    .section-our-team__main-title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        font-family: $mainFont;
        margin-bottom: 50px;
    }

    .section-our-team__list {
        display: flex;
        gap: 30px;

        .section-our-team__list-item {
            background-color: $backgroundColor;
            width: 270px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }

        .section-our-team__list-item-figcaption {
            flex-direction: column;
            align-items: center;
            padding: 30px 0;
            text-align: center;
        }

        .section-our-team__list-item-figcaption > span {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.03em;
            color: $mainTextColor;
            margin-bottom: 10px;
        }

        .section-our-team__list-item-figcaption-lower-title {
            font-size: 16px;
            color: $ouwerTextColor;
            line-height: 1.9;
            font-weight: 400;
            font-family: $mainFont;
            margin-bottom: 16px;
        }

        .section-our-team__two-list-icon-social-media {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .section-our-team__two-list-icon-social-media-item {
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                color: $iconColor;
                transition-property: color, background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

                .icon {
                    fill: currentColor;
                }

                &:hover {
                    background-color: $acentColor;
                    color: $backgroundColor;
                }
            }

            .section-our-team__two-list-icon-social-media-item-interia {
                width: 44px;
                height: 44px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                color: $iconColor;
                transition-property: color, background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

                .icon {
                    fill: currentColor;
                }

                &:hover {
                    background-color: $acentColor;
                    color: $backgroundColor;
                }
            }
        }
    }
}
