@media screen and (min-width: 481px) and (max-width: 768px) {
    .page-footer {
        width: auto;
    }

    .page-footer__main-div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .page-footer__tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
