@media screen and (min-width: 481px) and (max-width: 768px) {
    .section-first {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url("../images/img-768.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
