$mainTextColor: #212121;
$secondaryTextColor: #ffffff;
$ouwerTextColor: #757575;
$acentColor: #2196f3;
$contenerColor: #eeeeee;
$logoColorText: #000000;
$buttonsPortColor: #f5f4fa;
$footerTextColor: rgba(255, 255, 255, 0.6);
$backgroundFooterColor: #2f303a;
$backgroundSection: #e5e5e5;
$lineColor: #ececec;
$backgroundColor: #ffffff;
$iconColor: #afb1b8;
$mainFont: Roboto, sans-serif;
$logoFont: Raleway, sans-serif;
